@font-face {
    font-family: "San Marino Beach";
    src: url("../resources/SanMarinoBeach-2OOLW.ttf");
}
@font-face {
    font-family: "Backbones";
    src: url("../resources/Backbones-YzAoL.ttf");    
}

/*Estilos individuales*/
.btn-turismo {
    background-color: #97c93e;
    color: white !important;
}
.backcolor-turismo {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

.btn-menu {
    background-color: rgb(192, 26, 56);
    color: white !important;
}

.btn-menu:hover {
    background-color: rgb(169, 24, 50);
}

.btn-turismo:hover {
    background-color: #82ad36;
}
.body-modal{
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
}
/*Estilos del sitio*/
body {
    background: #7d7e7d;
    background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
    background: linear-gradient(to bottom, #7d7e7d 0%, #0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
}

#header {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#header img {
    width: 80px;
}

#header a {
    text-align: center;
}

#header h1 {
    color: #800020;
    font-family: "Backbones";
    font-size: 70px;
}

#main a {
    margin-right: 20%;
    margin-left: 20%;
}

#main .carousel-inner img {
    max-width: 900px;
    max-height: 500px;
}

#main h5 {
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(75, 72, 72, 0.2);
    margin-right: 20%;
    margin-left: 20%;
}

#main p {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(75, 72, 72, 0.3);
    margin-right: 20%;
    margin-left: 20%;
}

#viajes img {
    max-width: 90%;
    height: 140px;
    padding: 5px;
}

#footer {
    background: linear-gradient(90deg, #1c3643, #273b47 25%, #1e5372);
}

#footer a {
    color: white;
}
#modal-registro h5,
#modal-registro label,
#modal-registro a,
#modal-registro p
{
    color: white;
}
#modal-inicio-sesion h5,
#modal-inicio-sesion label,
#modal-inicio-sesion a,
#modal-inicio-sesion p
{
    color: white;
}
#modal-inicio-sesion img{
    width:64px ;
}
#group-email img{
    width: 16px;
}